<%= render "shared/header" %>
  <div class="wrapper">
    <div class="service-title">
      こんにちは、AnimalHomeへようこそ!<br>
      これからペットを持つ方やペットを飼っている方の情報交換の場所になれば嬉しいです。
    </div>
    <%= image_tag 'CorkBoard02.jpg', class: "title-img" %>
    <div class='ad-title'>
      <ul class='ad-lists'>
        <li>里親</li>
        <li><%= link_to image_tag('9bc5ec1ef97aebb660fc74133a02f7d7.jpg', class:"menu-img"), "#" %></li>
        <li>ブログ</li>
        <li><%= link_to image_tag('fdc09fb9d90d4636380667c4858541bd.jpg', class:"menu-img"), "#" %></li>
        <li>インフォメーション</li>
        <li><%= link_to image_tag('206641d6ec8da66a725eb1b2471b646d.jpg', class:"menu-img"), "#" %></li>
        <li>動物の病気・しつけについて</li>
        <li><%= link_to image_tag('da0b1b2d878c3e54d89f843801d4714b.jpg', class:"menu-img"), "#" %></li>
      </ul>
  </div>
  </div>
<%= render "shared/footer" %>